body.gpAdmin .filetype-addscript_section {
  display: block;
  margin: 24px 0 0 0;
  padding: 0;
}

body.gpAdmin .filetype-addscript_section:before {
  content: "\003c\002f\003e\00a0 AddScript Section";
  display: block;
  margin-top: 24px;
  line-height: 24px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px !important;
  font-weight: normal !important;
  background: none rgba(127, 127, 127, 0.65);
  color: #000;
  border: 2px dashed rgba(127, 127, 127, 0.85);
}

body.gpAdmin .filetype-addscript_section.addscript-has-errors:before {
  content: "\003c\002f\003e\00a0 AddScript Section (!)";
  background: none rgba(255, 128, 70, 0.85);
  border: 2px dashed rgb(96, 28, 0);
}

.addscript-msg {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  padding: 4px 6px;
  margin-top: 0.5em;
}

.addscript-msg-error {
  background: none rgba(255, 108, 71, 0.85);
  color: rgb(96, 28, 0);
  border: 1px solid rgb(96, 28, 0);
}
.addscript-msg-warning {
  background: none rgba(255, 181, 70, 0.85);
  color: rgb(80, 59, 0);
  border: 1px solid rgb(170, 125, 0);
}
.addscript-msg-notice {
  background: none rgba(113, 255, 70, 0.85);
  color: rgb(59, 99, 7);
  border: 1px solid rgb(96, 170, 0);
}


.addscript-msg:after {
  clear: both;
}
.addscript-msg:before,
.addscript-msg:after {
  content: "";
  display: table;
}

.addscript-msg .addscript-msg-text {
  display: block;
  font-size: 14px !important;
  line-height: 1 !important;
  float: left;
  padding: 8px 4px;
}

.addscript-msg .addscript-msg-btn {
  display: block;
  font-size: 14px !important;
  font-weight: normal !important;
  padding: 6px 12px !important;
  float: right;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}
.addscript-msg-error .addscript-msg-btn {
  background: rgb(96, 28, 0);
  color: #fff !important;
}

.addscript-msg-warning .addscript-msg-btn {
  background: rgb(170, 125, 0);
  color: #fff !important;
}