.__general {
    color: #b531b5;
}

.__brackets {
    color: orange;
}

.__functions {
    color: #9393d4;
}

.__strings {
    color: #6bd46b;
}

.__tags {
    color: #d45656;
}

.__lesserOrGreaterBrackets {
    color: #77bdc1;
}

.__innerBrackets {
    color: #d26e6e;
}

.__attributes {
    color: #ffeba0;
}

.__selectors {
    color: grey;
}

.__numbers {
    color: lightcoral;
}

.__comments {
    opacity: 0.5;
}

#oncode {
    min-height: 200px;
    background: #111;
    display: block;
    position: relative;
    padding: 25px;
    font-size: 16px;
}

#oncode > [data-highlights], #oncode > [data-editor] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: pre-wrap;
    padding: 25px;
}

#oncode > [data-highlights] {
    color: #fff;
}

#oncode > [data-editor] {
    color: transparent;
    caret-color: #fff;
}

#oncode > [data-editor]:focus {
    outline: none;
}

#oncode > [data-adviser] {
    background: #5e5b6b;
    position: fixed;
    bottom: unset;
    right: unset;
    padding: 0;
}

#oncode > [data-adviser]:empty {
    display: none;
}

#oncode > [data-adviser] > a {
    width: 100%;
    padding: 5px;
    display: block;
}

#oncode > [data-adviser] > a:nth-child(1n + 7) {
    display: none;
}

#oncode > [data-adviser] > a[data-active] {
    position: relative;
}

#oncode > [data-adviser] > a[data-active]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.2;
}